.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv
.venv
node_modules
dist
build

# IDE
.idea
.vscode

# caches
.cache
pytest_cache
.mypy_cache

# logs
*.log

# OS
.DS_Store
Thumbs.db

# docker
Dockerfile
docker-compose.yml

# tests
tests
coverage
htmlcov

.cache
huggingface
models
*.pt
*.bin
*.safetensors

*jarvis_big_brother
*jarvis_core
*jarvis_core_alter