--extra-index-url https://download.pytorch.org/whl/cpu
django
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
django-environ
django-filter
drf-spectacular
fastapi
uvicorn
pydantic
torch
torchvision
transformers
gunicorn
openpyxl
requests
beautifulsoup4
numpy
pyTelegramBotAPI
python-dotenv
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
faiss-cpu
pdfplumber