--extra-index-url https://download.pytorch.org/whl/cpu

# Web Frameworks & Utils
django
djangorestframework
django-cors-headers
django-environ
django-filter
drf-spectacular
fastapi
uvicorn
pydantic
gunicorn

# Database
psycopg2-binary

# Utils & Parsers
python-dotenv
openpyxl
requests
beautifulsoup4
pyTelegramBotAPI
pdfplumber

# Machine Learning & AI
numpy==1.26.4
torch==2.1.1+cpu
torchvision==0.16.1+cpu
transformers==4.44.0
sentence-transformers
faiss-cpu

# LangChain Ecosystem
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters