django
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
openpyxl
django-environ
gunicorn
django-filter
drf-spectacular
fastapi
uvicorn
pydantic
transformers
torch
requests
beautifulsoup4